body{
    background-color: #778DA9;  
    font-family: 'Metamorphous', cursive;
}

header{
    text-align: left;
    background-color: #0D1B2A;
    padding: 20px 20px 10px 20px;
}

.uk-container-small{
    background-color: #E0E1DD; 
}

#lblSearch{
    padding-top: 20px;
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 20px;

}


#footerCopyright{
    color: #778DA9;
}

.websiteName{
    font-size: 34px;
    text-align: center;
    color: #FFFFFF
    ;
}

h3{
    font-size: 30px;
    text-align: center;
    color: #FFFFFF; 
}

#map {
    width: 100%;
    height: 500px;
    background-color: grey;
  }

 #movie-input{
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  footer{
    text-align: center;
    color: #FFFFFF;
    background-color: #0D1B2A;
    font-size: 20px;
    padding: 10px 10px 5px 10px;    
  }

 
  #ErrorImageText{
      color: #FF0000;
      text-align: center;
      
 }

 #ErrorImage{
     margin-left: 650px;      

 }

 #mapNotFound{
    margin-left: 650px;      

 }

  #mapNotFoundText{
    text-align: center;
    color:#FFA500;
    text-decoration: #FF0000;
  }

  p {
      font-size: 30px;
      text-align: center;
      font-weight: 600;
      color: #0D1B2A;
  }

  #posterBorder{
     margin-left: 650px;      
  }

  #searchRow{
      margin-top: 20px;
  }
  
  main {
      background: 	#FFFFF0; 
  }
      

